footer {
  background: #35373B;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.copyright-container {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  padding-left: 0.5em;
  margin-left: 45%;
}

.socials-container {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
}

.socials-container i:hover {
  color: #ff5b7b
}