/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Helvetica Neue";
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
p {
  line-height: 1.6;
  font-size: 1.6rem;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #35373B;
  color: white;
  position: sticky;
  top: 0;
  padding: 0.25rem 1rem;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
nav .navbar-left_about {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  nav .navbar-left_about {
    flex-direction: column-reverse;
  }
}
nav .navbar-left_about .logo_about {
  width: 80%;
  height: 80%;
}
@media (max-width: 500px) {
  nav .navbar-left_about .logo_about {
    display: none;
  }
}
nav .navbar-left_about .nav-title_about {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 500px) {
  nav .navbar-left_about .nav-title_about {
    padding: 0rem;
    color: #FF5B7B;
  }
}
nav .navbar-right_about {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  nav .navbar-right_about {
    flex-direction: column;
  }
}
nav .navbar-right_about .nav-link_about {
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 1rem;
  color: white;
}
nav .navbar-right_about .nav-link_about:hover {
  color: #FF5B7B;
}
.AboutUsBox {
  max-width: 65%;
  width: 100%;
  margin: 0 auto;
}
.AboutUsBox .Headerimg_about {
  padding-bottom: 4%;
}
@media (max-width: 500px) {
  .AboutUsBox .Headerimg_about {
    display: none;
  }
}
.AboutUsBox .Title_about {
  text-align: center;
  color: #FF5B7B;
  text-shadow: 0.2rem 0.1rem 0.2rem #35373B;
}
.AboutUsBox .PersonBoxes_about {
  padding: 6%, 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .AboutUsBox .PersonBoxes_about {
    display: column;
  }
}
.AboutUsBox .PersonBoxes_about .box_about {
  background-color: #F3BE70;
  color: #35373B;
  border-radius: 7%;
  width: 40%;
  text-align: center;
  padding-top: 3%;
  margin: 3% 0%;
  box-shadow: 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .AboutUsBox .PersonBoxes_about .box_about {
    width: 80%;
  }
}
.AboutUsBox .PersonBoxes_about .box_about img {
  border-radius: 4%;
  width: 60%;
}
@media (max-width: 500px) {
  .AboutUsBox .PersonBoxes_about .box_about img {
    width: 55%;
  }
}
.AboutUsBox .PersonBoxes_about .box_about h3 {
  line-height: 2rem;
  font-weight: bold;
  padding-top: 3%;
}
.AboutUsBox .PersonBoxes_about .box_about h4 {
  font-style: italic;
}
.AboutUsBox .PersonBoxes_about .box_about p {
  line-height: 5rem;
}
.AboutUsBox .PersonBoxes_about .box_about .button_about {
  border-radius: 8%;
  width: 35%;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: #35373B;
  padding: 2%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .AboutUsBox .PersonBoxes_about .box_about .button_about {
    width: 45%;
  }
}
.AboutUsBox .PersonBoxes_about .box_about .button_about a {
  text-decoration: none;
  color: white;
}
.AboutUsBox .PersonBoxes_about .box_about .button_about a:hover {
  color: #FF5B7B;
}
.footer_about {
  width: 100%;
  margin-top: 4%;
  background-color: #35373B;
  color: white;
}
.footer_about p {
  text-align: center;
  padding: 2%;
}
